@model Tag
<div class="row">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Name:@Model.Name</h5>
        </div>
        <div class="card-body">
            <a asp-controller="Tag" asp-action="index" class="btn btn-success">Cancel</a>
        </div>
    </div>
</div>